$navyBlue: #000066;
$opacityNavyBlue: rgba(0, 0, 102, 0.5);
$vividSky: #00CCFF;
$denimBlue: #333399;
$brandeisBlue: #0066FF;
$robinEgg: #00CCCC;

$blueGradient: linear-gradient(to bottom, rgba(0, 0, 102, 0.7), rgba(0, 204, 255, 0.7));

$textColor: white;
$white: white;

$checkboxYes: #00DD16;
$checkboxMaybe: #EDD500;
$checkboxNo: #DD0016;

$tabSelected: white;
$tabDefault: rgba(255, 255, 255, 0.5);